doctype html
html
  head
    meta(name='viewport', content='with=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/bootstrap/js/bootstrap.min.js')
